<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cadmium{% endblock %}</title>
    {% load static %}
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo/favicon.ico' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logo/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/logo-loader.js' %}" defer></script>
    <script src="{% static 'js/messages.js' %}" defer></script>
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html>




